/* CSS declarations go here */
html, body {
	width: 100%;
}

body {
	font-family: sans-serif;
}

h1 {
	color: #ddd;
}

.sensor {
	width: 100%;
	text-align:center;
}

.sensor .value {
	font-size: 72px;
}

.subtle {
	color: #ddd;
}